<html lang="en">
  <head>
    {{>headerLinks}}
  </head>
  <body>
{{>navbar}}
    <!-- Main header  -->
    <div class="container-fluid main_header">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <div class="row">
            <!-- Left side div  -->
            <div class="col-md-6 col-12 main_header_right align-items-center">
              <figure>
                <img
                  src="Images/About.jpg"
                  alt="Error"
                  class="img-fluid"
                  id="about"
                  title="Atharva"
                />
              </figure>
            </div>
            <div class="col-md-6 col-12 main_header_left">
              <p>Welcome to Weather App</p>
              <h1>
                I Am A
                <span class="text_color">MERN Stack Developer</span>
                And Programmer
              </h1>
              <a
                href="https://leetcode.com/atharva_kulkarni1/"
                target="_atharva"
              ><button>About Me</button></a>
            </div>

            <!-- Right side div  -->
          </div>
        </div>
      </div>
    </div>

    <!-- Footer code -->

    {{>footer}}

  </body>
</html>