<html lang="en">
  <head>
    {{>headerLinks}}
  </head>
  <body>
{{>navbar}}
    <!-- Main header  -->
    <div class="container-fluid main_header">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <div class="row">
            <!-- Left side div  -->
            <div class="col-md-12 col-12 main_header_left align-items-center">
              <figure>
                <img
                  src="Images/404Error.jpg"
                  alt="Error"
                  class="img-fluid"
                  id="about"
                  title="Page Not Exist"
                  style="height: 20rem"
                />
              </figure>
           
              <p>Welcome to Weather App</p>
              <h1>
                {{errorMsg}}
              </h1>
              <a
                href="/"
              ><button>Go Back</button></a>
            </div>

            <!-- Right side div  -->
          </div>
        </div>
      </div>
    </div>

    <!-- Footer code -->

    {{>footer}}

  </body>
</html>